.red{ 
    position: absolute;
    border-top: 150px solid rgb(228, 22, 22); 
    border-right: 150px solid transparent; 
}
.green{
    top: 125px;
    right: 132px;
    width: 150px; 
    height: 75px;
    position: absolute;
        background: rgb(26, 135, 24);
        -moz-transform: skew(-45deg, 0deg);
        -webkit-transform: skew(-45deg, 0deg);
        -o-transform: skew(-45deg, 0deg);
        -ms-transform: skew(-45deg, 0deg);
        transform: skew(-45deg, 0deg);
}
.blue{
    position: absolute; 
        border-right: 150px solid rgb(19, 79, 190);
        border-top: 150px solid transparent;
        border-bottom: 150px solid transparent;
}
.yellow{
    position: absolute;
    transform: rotate(90deg);
    border-right: 150px solid rgb(238, 241, 47);
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}
.purple{
    position: absolute;
    border-top: 76px solid rgb(113, 17, 128);
    border-left: 76px solid transparent; 
    border-right: 76px solid transparent; 
}
.brown{
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgb(70, 47, 0);
    margin: 3px 0 0 30px;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.orange{
    position: absolute;
    transform: rotate(-90deg);
    border-top: 75px solid rgb(255, 145, 0);
    border-left: 75px solid transparent; 
    border-right: 75px solid transparent;
 }