* {
    margin: 0;
    padding: 0;
}


body {
    animation: colors 6s infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.canvas {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid;
    background-color: white;
    position: relative;
}

.buttons {
    margin-top: 50px;
}

button {
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    border-radius: 30px;
}
