.yellow{
    position: absolute;
    transform: rotate(135deg);
    right:365px;
    top: 50px;
}
.orange{
    position: absolute;
    bottom: 0px;
    right: 371px;
    transform: rotate(315deg);
 }
.green{
    position: absolute;
        bottom: 220px;
        right: 426px;
        background: rgb(26, 135, 24);
        -moz-transform: skew(-45deg, 0deg);
        -webkit-transform: skew(-45deg, 0deg);
        -o-transform: skew(-45deg, 0deg);
        -ms-transform: skew(-45deg, 0deg);
        transform: skew(34deg, 0deg);
}
.brown{
    position: absolute;
    transform: rotate(0deg);
    right: 401px;
    bottom: 115px;
    background: rgb(70, 47, 0);
    margin: 3px 0 0 30px;
}
.blue{
    transform: rotate(225deg);
    bottom: 195px;
    right: 368px;
}
.purple{
    transform: rotate(225deg);
    top: 554px;
    right: 318px;
}
.red{
    transform: rotate(270deg);
    top: 180px;
    right: 410px;
}