
.red{ 
    transform: translate(17px,-64px) rotate(45deg);
}

.green{
    width: 106px; 
    height: 100px;
    transform: translate(120px,-14px) skew(45deg, 0deg);
}

.blue{
    transform: translate(-36px,96px) rotate(225deg);
}

.yellow{
    transform: translate(70px,96px) rotate(-45deg);
}

.purple{
    transform: translate(-115px,16px) rotate(-45deg);
}

.brown{
    transform: translate(0px,200px);
}

.orange{
    transform: translate(-62px,-37px) rotate(-225deg);
 }