.red{ 
    transform:translate(-140px,-64px);
}
.green{
    transform: translate(-28px,-102px) skew(-45deg);
}
.blue{ 
    transform:translate(-65px,85px) rotate(90deg);
}
.yellow{
    transform: translate(10px,10px);
}
.purple{
    transform: translate(-176px,85px) rotate(270deg);
}
.brown{
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)translate(-93px,-50px);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.orange{
    transform: translate(-64px,-27px);
}