.red{
    transform: translate(47px,-33px) rotate(-225deg);
}
.green{
    transform:translate(-206px,170px) skew(45deg);
    width: 100px;
    height: 106px;
}
.blue{
    transform: translate(-50px,170px) rotate(-45deg);
}
.yellow{
    transform: translate(-28px,11px);
}
.purple{
    transform: translate(10px,-286px) rotate(-90deg);
}
.brown{
    transform: translate(33px,-214px) rotate(45deg);
}
.orange{
    transform: translate(85px,-287px) rotate(90deg);
}