.red{ 
    top:41px;
    left: 143px;
    position: absolute;
    border-top: 150px solid rgb(228, 22, 22); 
    border-right: 150px solid transparent; 

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.green{
    position: absolute;
        top: 116px;
        left: 268px;
        background: rgb(26, 135, 24);
        
        -moz-transform: skew(45deg, 0deg);
        -webkit-transform: skew(45deg, 0deg);
        -o-transform: skew(45deg, 0deg);
        -ms-transform: skew(45deg, 0deg);
        transform: skew(45deg, 0deg);

    }
.blue{
    position: absolute; 
    top: 125px;
    left: 90px;
        border-right: 150px solid rgb(19, 79, 190);
        border-top: 150px solid transparent;
        border-bottom: 150px solid transparent;

        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
}
.yellow{
    position: absolute;
    left: 196px;
    top: 125px;
    transform: rotate(90deg);
    border-right: 150px solid rgb(238, 241, 47);
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.purple{
    position: absolute;
    top: 159px;
    left: 10px;
    border-top: 76px solid rgb(113, 17, 128);
    border-left: 76px solid transparent; 
    border-right: 76px solid transparent; 

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.brown{
    position: absolute;
    left: 135px;
    bottom: 66px; 
    background: rgb(70, 47, 0);
    margin: 3px 0 0 30px;
    }

.orange{
    position: absolute;
    top: 105px;
    left: 64px;
    transform: rotate(-90deg);
    border-top: 75px solid rgb(255, 145, 0);
    border-left: 75px solid transparent; 
    border-right: 75px solid transparent;

    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
    transform: rotate(-225deg);
 }